[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
psycopg2 = "<3.0,>=2.7"
eventsourcing = {extras = ["sqlalchemy"],version = "*"}
Django = "<3.0,>=2.0"
black = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
